html, body
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;

}

/*---------------------home----------------*/
#home-section 
{
	background-color: #222;
	display: flex;
	justify-content: center;
	  align-items: center;
  	height: 100vh;
  	flex-direction: column;
  	overflow: hidden;
}

#home-section h1
{
	font-size: 3.5em;
	font-weight: 700;
	color: #fff;
}

/*---------------------about----------------*/
#about-section
{
	/* Background: */

	background: #D27580;
 	height: 100vh;
 	padding: 2em;
}

#about-section h1
{
	font-size: 4em;
	font-weight: 700;
	color: #fff;
	padding-right: 2em;
	text-align: right;
}



#about-section p
{
	color: #fff;
	display: block;
	font-weight: 300;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.8em;
	max-width: 700px;
	margin-top: 4vw;
}

#about-section button
{
	font-weight: 400;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-color: #4A4A4A;
	color: #4A4A4A;
	background-color: #fff;
	font-size: 1.5em;
	margin-top: 3em;
	height: 2.6em;
	width: 5em;
}

#about-section button:hover
{
	background-color: #333;
	color: #fff;
}

/*---------------------projects----------------*/


#projects-section
{
	background-color: #F3F3F3;
	height: 100vh;
 	padding: 2em;
 	padding-bottom: 12em;
}

#projects-section h1
{
	font-size: 4em;
	font-weight: 700;
	color: #4A4A4A;
	padding-right: 2em;
	text-align: right;
}

#projects-section img
{
	width: 340px;
	transition: box-shadow .3s;
}

#projects-section img:hover
{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.projects-content
{
	display: grid;
	grid-template-columns: auto auto;
	padding-left: 2em;
	padding-right: 2em;
}

.projects-content h2
{
	font-weight: 400;
	font-size: 3em;
	color: #4A4A4A;
	margin-right: 2em;
}

.projects-group
{
	padding-left: 200px;
	padding-right: 200px;
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 50px;
}

#projects-section button
{
	font-weight: 400;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-color: #4A4A4A;
	background-color: #fff;
	color: #4A4A4A;
	font-size: 1.5em;
	margin-top: 3em;
	height: 2.6em;
	width: 5em;
}

#projects-section button:hover
{
	background-color: #4A4A4A;
	color: #fff;
}

#contact-section
{
	background-color: #6D86A3;
	height: 100%;
	padding-top: 2em;
	padding-bottom: 6em;
	display: flex;
	justify-content: center;
	align-items: center;
  	flex-direction: column;

}

#contact-section h1
{
	font-size: 4em;
	color: #fff;
	display: block;
	margin-right: auto;
	margin-left: auto;
}


.contact-social i
{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 80px;
	color: #fff;

}

.contact-social i:hover
{
	color: #4A4A4A;
}





@media only screen and (max-width: 992px) 
{

	.navbar a
	{
		display: none;
	}


	#about-section
	{
		height: 100%;
		display: flex;
		justify-content: center;
	  	align-items: center;
  		flex-direction: column;
  		padding-bottom: 6em;
	}
	#about-section h1
	{
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0em;
	}

	#about-section p
	{
		font-size: 110%;
	}

	#about-section button
	{
		font-size: 1.2em;
		height: 3em;
		width: 5em;

	}


	#projects-section
	{
		height: 100%;
		display: flex;
		justify-content: center;
	  	align-items: center;
  		flex-direction: column;
  		padding-bottom: 6em;
	}

	#projects-section h1
	{
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0em;

	}

	.projects-group
	{
		padding-left: 0em;
		padding-right: 0em;
		display: grid;
		grid-template-columns: auto;
		grid-row-gap: 50px;
	}
	

	.projects-content h2
	{
		display: none;
	}

	#projects-section img
	{	
		width: 300px;

	}

	.projects-content
	{
		display: grid;
		grid-template-columns: auto auto;
		padding-left: 0.5em;
		padding-right: 0;
	
	}

	#projects-section button
	{
		font-size: 1.2em;
		height: 3em;
		width: 5em;
	}

	#contact-section
	{
		padding-bottom: 6em;
	}

	#contact-section h1
	{
		font-size: 4em;
	}

	.contact-social i
	{
		font-size: 4em;
	}

  
}









