/***
Description: Styling file for menu navigation
***/

#project-nav
{
      line-height: 40px;
      list-style: none;
      overflow: hidden;
      color: black;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      
}

nav .logo-pro a
{
    text-decoration: none; 
}

.logo-pro a
{
      line-height: 40px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #343434;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 700; 
}


.logo-pro a:hover
{
      color: #999;   
}


.logo h1
{
      line-height: 40px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #343434;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 700;     
}

nav 
{
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul 
{
      line-height: 40px;
      list-style: none;
      background: #fff;
      opacity: 0.4;
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul 
{
      background-color: #fff;
}

nav ul li 
{
      display: inline-block;
      padding: 16px 40px;
}

nav ul li a 
{
      text-decoration: none;
      color: #343434;
      font-size: 16px;
      font-weight: 300;
}

.menu-icon 
{     
      background-color: #fff;
      text-align: right;  
      cursor: pointer;
      color: #4A4A4A;
      display: none;
}

.menu-icon i
{
      margin-top: 0.8em;
      margin-right: 1em;
}

.menu-icon :hover
{
	color: #999;
}

.menu a:hover 
{
	color: #999;
	text-decoration-line: none;
}


@media(max-width: 920px) 
{
      .logo-pro a
      {
            position: fixed;
            top: 0;
            font-size: 1em;
            text-align: center;   
      }

      .logo h1
      {
            position: fixed;
            top: 0;
            font-size: 1em;
            text-align: center;   
      }

      nav ul 
      {
          max-height: 0px;
          background-color: #fff;
      }

      nav.white ul 
      {
            background-color: #222;
      }

      .showing 
      {
            max-height: 35em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 1px;
            text-align: center;
      }

      .menu-icon 
      {
            display: block;

      }

}
