/***
Description: Styling file for projects page

TABLE OF CONTENTS
-------------- projects.css ------------------
Project Intro - Introduction section
Project Design - Design section
Project Development - Development section
Project Deploy - Deploy section
***/

html, body
{
	margin: 0;
	padding: 0;
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	overflow-x: hidden;
}


@font-face {
  font-family: "San Francisco Display Ultralight";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg")
}

@font-face {
  font-family: "San Francisco Display Thin";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg")
}

@font-face {
  font-family: "San Francisco Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}

@font-face {
  font-family: "San Francisco Display Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg")
}

@font-face {
  font-family: "San Francisco Display Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg")
}

.active
{
	background-color: #fff;
}

/*-------------Project Intro-----------------*/
#p2-intro
{
	background-color: #F2F2F2;
  	overflow: hidden;
  	margin-top: 5.2em;
  	padding-bottom: 3em;
  	height: 100%;
}

.p2-intro-cnt
{
	display: grid;
	grid-template-columns: auto auto;

}

#p2-intro h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5em;
	font-weight: 700;
	color: #4A4A4A;
	text-align: center;
}

#p2-intro img
{
	width: 20.5em;
	margin-top: 5vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

#p2-intro p
{
	font-family: 'Open Sans', sans-serif;
	margin-top: 5vw;
	margin-right: 5vw;
}

/*-------------Project Design-----------------*/
#p2-design
{
	background-color: #F3F3F3;
  	overflow: hidden;
  	padding-bottom: 3em;
  	height: 100%;
}

#p2-design h1
{
	font-family: 'Open Sans', sans-serif;
	padding-top: 2vw;
	margin-bottom: 2vw;
	font-size: 2.5em;
	font-weight: 700;
	color: #4A4A4A;
	text-align: center;
}

.navbar
{
	text-align: center;	
}

#menu
{
	display: grid;
	grid-template-columns: auto auto;
	border: 1px solid #979797;
}


#p2-des-ux
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.outer
{
	display: grid;
	grid-template-columns: auto auto auto;
}

.outer div
{
	margin-left: 4em;
	margin-right: 4em;
}


.mockup h3
{
	font-weight: 300;
	font-size: 1.4em;
}

.mockup button
{
	font-size: 1.3em;
	margin-left: 1em;
	color: #999;
	font-weight: 400;
	/* Button Background: */
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
	border-radius: 6px;
}

.mockup button:hover
{
	background-color: #ECEBEB;
	transition: background-color .3s;
}



.devices h3
{
	font-weight: 300;
	font-size: 1.4em;
}

.devices button
{
	font-size: 1.3em;
	margin-left: 1em;
	color: #999;
	font-weight: 400;
	/* Button Background: */
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
	border-radius: 6px;
}

.devices button:hover
{
	background-color: #ECEBEB;
	transition: background-color .3s;
}
.wireframe
{
	font-family: 'Open Sans', sans-serif;
}

.mockup
{
	font-family: 'Open Sans', sans-serif;
}

.devices
{
	font-family: 'Open Sans', sans-serif;
}

.wireframe img
{
	width: 14.375em;
}

.mockup img
{
	width: 25em;
}

.devices img
{
	width: 26.25em;
}

#brand
{
	width: 2.5em;
}


/*------------Project Development--------------*/

#p2-dev
{
	font-family: 'Open Sans', sans-serif;
	background-color: #F3F3F3;
  	overflow: hidden;
  	padding-bottom: 3em;
  	height: 100%;
}

#p2-dev h1
{
	padding-top: 2vw;
	margin-bottom: 2vw;
	font-size: 2.5em;
	font-weight: 700;
	color: #4A4A4A;
	text-align: center;
}

#p2-dev-outer
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#p2-dev-inner
{
	display: grid;
	grid-template-columns: auto auto auto;
}

#p2-dev-inner div
{
	margin-left: 4em;
	margin-right: 4em;
}

#p2-dev-inner i
{
	font-size:  2.5em;
}

.front-end i
{
	color: #E86C3A;
}

#p2-dev-inner h3
{
	font-weight: 300;
	font-size: 1.4em;
}

#p2-dev-inner img
{
	width: 4.5em;
}


/*-------------Project Deploy-----------------*/

#p2-deploy
{
	font-family: 'Open Sans', sans-serif;
	background-color: #F3F3F3;
  	overflow: hidden;
  	padding-bottom: 3em;
  	height: 100%;
}

#p2-deploy h1
{
	padding-top: 2vw;
	margin-bottom: 2vw;
	font-size: 2.5em;
	font-weight: 700;
	color: #4A4A4A;
	text-align: center;
}



#p2-dev-outer button
{
	font-size: 1.3em;
	margin-left: 1em;
	color: #999;
	font-weight: 400;
	/* Button Background: */
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
	border-radius: 6px;
}

#p2-dev-outer button:hover
{
	background-color: #ECEBEB;
	transition: background-color .3s;
}

#dev-icon
{
	display: grid;
	grid-template-columns: auto auto;
}

#dev-icon button
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#dev-icon i
{
	font-size: 3em;
}

.wireframe img:hover
{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: box-shadow .3s;
}

.mockup img:hover
{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: box-shadow .3s;
}

.devices img:hover
{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: box-shadow .3s;
}

#p3-design
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#p3-design img
{
	width: 60%;
}

#p3-design h1
{
	font-family: 'Open Sans', sans-serif;
	padding-top: 2vw;
	margin-bottom: 2vw;
	font-size: 2.5em;
	font-weight: 700;
	color: #4A4A4A;
	text-align: center;
}

#p3-design h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;	
}


@media only screen and (max-width: 992px) 
{

	#p2-intro
	{	
		padding-bottom: 2em;
	}


	#p2-intro p
	{
		margin-left: 5vw;
	}

	.p2-intro-cnt
	{
		display: grid;
		grid-template-columns: auto;
	}

	.outer
	{
		display: grid;
		grid-template-columns: auto;
	}

	.outer div
	{
		margin-left: 5em;
	}

	.mockup img
	{
		width: 20em;
	}

	.devices img
	{
		width: 20em;
	}


	#p2-dev-inner
	{
		display: grid;
		grid-template-columns: auto;
	}

	#p3-design img
	{
		width: 100%;
	}


}

















